House Check Flow 1.0
[
    {
        "id": "51a2120d.12405c",
        "type": "tab",
        "label": "House Check",
        "disabled": false,
        "info": ""
    },
    {
        "id": "e3401fac.c9441",
        "type": "trigger-state",
        "z": "51a2120d.12405c",
        "name": "House Check",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.house_check",
        "debugenabled": false,
        "constraints": [
            {
                "id": "j8gcax7ok78",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "8gg4vx130gj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 110,
        "y": 75,
        "wires": [
            [
                "af07681f.516838",
                "61475f67.8160e"
            ],
            []
        ]
    },
    {
        "id": "ffbaf329.213dc",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 625,
        "y": 135,
        "wires": [
            [
                "6f7723d0.89458c"
            ]
        ]
    },
    {
        "id": "6f7723d0.89458c",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 180,
        "wires": [
            [
                "862899fa.e1da08",
                "eab42fd5.d41a8"
            ],
            [
                "ba7ab04d.0d153"
            ]
        ]
    },
    {
        "id": "ba7ab04d.0d153",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 610,
        "y": 225,
        "wires": [
            [
                "46c03018.6b254"
            ]
        ]
    },
    {
        "id": "46c03018.6b254",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 270,
        "wires": [
            [
                "112135c1.86b1da",
                "f8fd5669.31d608"
            ],
            [
                "dc0e9a76.694be8"
            ]
        ]
    },
    {
        "id": "862899fa.e1da08",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 180,
        "wires": [
            [
                "ba7ab04d.0d153"
            ]
        ]
    },
    {
        "id": "112135c1.86b1da",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 270,
        "wires": [
            [
                "dc0e9a76.694be8"
            ]
        ]
    },
    {
        "id": "dc0e9a76.694be8",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 610,
        "y": 315,
        "wires": [
            [
                "f79e3729.4ef1f8"
            ]
        ]
    },
    {
        "id": "f79e3729.4ef1f8",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 360,
        "wires": [
            [
                "63b5ef77.d6c3a",
                "3e72d5d5.6dd95a"
            ],
            [
                "4dd53b71.e8e5e4"
            ]
        ]
    },
    {
        "id": "63b5ef77.d6c3a",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 360,
        "wires": [
            [
                "4dd53b71.e8e5e4"
            ]
        ]
    },
    {
        "id": "ed137ccf.38519",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.house_check\"  }",
        "mergecontext": "",
        "x": 440,
        "y": 75,
        "wires": [
            []
        ]
    },
    {
        "id": "4dd53b71.e8e5e4",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Bedroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 605,
        "y": 405,
        "wires": [
            [
                "e5fbd2fb.f3c5b"
            ]
        ]
    },
    {
        "id": "e5fbd2fb.f3c5b",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 450,
        "wires": [
            [
                "9ed0999c.1d0498",
                "7d28ea90.e40004"
            ],
            [
                "c31ee1ce.fb56f"
            ]
        ]
    },
    {
        "id": "9ed0999c.1d0498",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 450,
        "wires": [
            [
                "c31ee1ce.fb56f"
            ]
        ]
    },
    {
        "id": "c31ee1ce.fb56f",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 610,
        "y": 495,
        "wires": [
            [
                "27a18b7.38bfc74"
            ]
        ]
    },
    {
        "id": "27a18b7.38bfc74",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 540,
        "wires": [
            [
                "e3c2609.36150a",
                "ef5aae9f.aeb6"
            ],
            [
                "ec7b9267.383f5"
            ]
        ]
    },
    {
        "id": "e3c2609.36150a",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 540,
        "wires": [
            [
                "ec7b9267.383f5"
            ]
        ]
    },
    {
        "id": "ec7b9267.383f5",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 610,
        "y": 585,
        "wires": [
            [
                "9659bf9a.5f54a"
            ]
        ]
    },
    {
        "id": "9659bf9a.5f54a",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 630,
        "wires": [
            [
                "f4af5c50.d6a11",
                "6d408bff.208ea4"
            ],
            [
                "95e78655.8c9658"
            ]
        ]
    },
    {
        "id": "f4af5c50.d6a11",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 630,
        "wires": [
            [
                "95e78655.8c9658"
            ]
        ]
    },
    {
        "id": "95e78655.8c9658",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 610,
        "y": 675,
        "wires": [
            [
                "6b6afdea.e3e554"
            ]
        ]
    },
    {
        "id": "6b6afdea.e3e554",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 720,
        "wires": [
            [
                "46bcf52a.521d9c",
                "b6df7d51.cbb15"
            ],
            [
                "fdd11a01.3a0298"
            ]
        ]
    },
    {
        "id": "46bcf52a.521d9c",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 720,
        "wires": [
            [
                "fdd11a01.3a0298"
            ]
        ]
    },
    {
        "id": "fdd11a01.3a0298",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Bathroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 605,
        "y": 765,
        "wires": [
            [
                "81bc95a.9dbda68"
            ]
        ]
    },
    {
        "id": "81bc95a.9dbda68",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 810,
        "wires": [
            [
                "2d5d72de.7d898e",
                "58987e9a.08977"
            ],
            [
                "722831eb.3c01"
            ]
        ]
    },
    {
        "id": "2d5d72de.7d898e",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 810,
        "wires": [
            [
                "722831eb.3c01"
            ]
        ]
    },
    {
        "id": "eab42fd5.d41a8",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"front door open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 135,
        "wires": [
            []
        ]
    },
    {
        "id": "f8fd5669.31d608",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"back door open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 225,
        "wires": [
            []
        ]
    },
    {
        "id": "3e72d5d5.6dd95a",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"kitchen door open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 315,
        "wires": [
            []
        ]
    },
    {
        "id": "7d28ea90.e40004",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bedroom window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 405,
        "wires": [
            []
        ]
    },
    {
        "id": "ef5aae9f.aeb6",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"kitchen window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 495,
        "wires": [
            []
        ]
    },
    {
        "id": "6d408bff.208ea4",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"office window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 585,
        "wires": [
            []
        ]
    },
    {
        "id": "b6df7d51.cbb15",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"laundry window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 675,
        "wires": [
            []
        ]
    },
    {
        "id": "58987e9a.08977",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bathroom window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "f5c3bbab.c0db28",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"system check complete\"}",
        "mergecontext": "",
        "x": 825,
        "y": 1305,
        "wires": [
            []
        ]
    },
    {
        "id": "af07681f.516838",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 100,
        "y": 135,
        "wires": [
            [
                "a73bc21.a169e4"
            ]
        ]
    },
    {
        "id": "9ad6f919.c975a8",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "e0a47276.cc7b4"
            ]
        ]
    },
    {
        "id": "7d6f612e.35e91",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 100,
        "y": 225,
        "wires": [
            [
                "1038859a.24bcea"
            ]
        ]
    },
    {
        "id": "57539b20.b1aed4",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Bedroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 110,
        "y": 270,
        "wires": [
            [
                "e3c9c95e.a78a78"
            ]
        ]
    },
    {
        "id": "a5d28a1.2428f78",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 100,
        "y": 315,
        "wires": [
            [
                "fb787d28.64ffb"
            ]
        ]
    },
    {
        "id": "ab98fbe7.1332d8",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 100,
        "y": 360,
        "wires": [
            [
                "a0bcfe1.d396e"
            ]
        ]
    },
    {
        "id": "e0afd077.31e06",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 100,
        "y": 405,
        "wires": [
            [
                "57c4159a.6f042c"
            ]
        ]
    },
    {
        "id": "c984d742.a8ded8",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Bathroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 110,
        "y": 450,
        "wires": [
            [
                "23d93fa9.bf5e2"
            ]
        ]
    },
    {
        "id": "9e4be152.83e9c",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 100,
        "y": 495,
        "wires": [
            [
                "9d5052de.9ec13"
            ]
        ]
    },
    {
        "id": "f9bdf52f.e44388",
        "type": "comment",
        "z": "51a2120d.12405c",
        "name": "Checks Ok",
        "info": "",
        "x": 420,
        "y": 630,
        "wires": []
    },
    {
        "id": "b1b8992f.de91b8",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"everything checks ok\"}",
        "mergecontext": "",
        "x": 420,
        "y": 675,
        "wires": [
            []
        ]
    },
    {
        "id": "722831eb.3c01",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 610,
        "y": 855,
        "wires": [
            [
                "3ca1c3d2.79447c"
            ]
        ]
    },
    {
        "id": "3ca1c3d2.79447c",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 900,
        "wires": [
            [
                "eddecfef.e4e46",
                "38b42824.5fc1a8"
            ],
            [
                "b0abfee0.1c856"
            ]
        ]
    },
    {
        "id": "38b42824.5fc1a8",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bathroom window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "eddecfef.e4e46",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 900,
        "wires": [
            [
                "b0abfee0.1c856"
            ]
        ]
    },
    {
        "id": "dbc6c3ad.ba8a5",
        "type": "comment",
        "z": "51a2120d.12405c",
        "name": "Find and Announce Problems",
        "info": "",
        "x": 720,
        "y": 90,
        "wires": []
    },
    {
        "id": "6ff20909.9e0238",
        "type": "comment",
        "z": "51a2120d.12405c",
        "name": "Check Doors/Windows/Alarms/Cameras/Temp Sensors",
        "info": "",
        "x": 215,
        "y": 30,
        "wires": []
    },
    {
        "id": "1d64dc38.18f244",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Alarms",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.alarm_check",
        "x": 90,
        "y": 585,
        "wires": [
            [
                "e41411d4.65cc1"
            ]
        ]
    },
    {
        "id": "d1e72457.86a888",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Alarm",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.alarm_check",
        "x": 635,
        "y": 1035,
        "wires": [
            [
                "875718a4.276518"
            ]
        ]
    },
    {
        "id": "875718a4.276518",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 1080,
        "wires": [
            [
                "3f5f7f5a.ccdd6",
                "72ca9a7a.981644"
            ],
            [
                "345e938c.409b1c"
            ]
        ]
    },
    {
        "id": "72ca9a7a.981644",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"alarm offline\"}",
        "mergecontext": "",
        "x": 825,
        "y": 1035,
        "wires": [
            []
        ]
    },
    {
        "id": "3f5f7f5a.ccdd6",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 1080,
        "wires": [
            [
                "345e938c.409b1c"
            ]
        ]
    },
    {
        "id": "345e938c.409b1c",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Cameras",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.camera_check",
        "x": 630,
        "y": 1125,
        "wires": [
            [
                "b40c3f80.fbb04"
            ]
        ]
    },
    {
        "id": "b40c3f80.fbb04",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 1170,
        "wires": [
            [
                "1d8a26f.e324ed9",
                "9a91fda6.81d73"
            ],
            [
                "feb322d1.97fcf"
            ]
        ]
    },
    {
        "id": "9a91fda6.81d73",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"camera offline\"}",
        "mergecontext": "",
        "x": 825,
        "y": 1125,
        "wires": [
            []
        ]
    },
    {
        "id": "1d8a26f.e324ed9",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 1170,
        "wires": [
            [
                "feb322d1.97fcf"
            ]
        ]
    },
    {
        "id": "dbe8cdc3.911c7",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Cameras",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.camera_check",
        "x": 90,
        "y": 630,
        "wires": [
            [
                "8a771883.98d1e8"
            ]
        ]
    },
    {
        "id": "a73bc21.a169e4",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 135,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "9ad6f919.c975a8"
            ]
        ]
    },
    {
        "id": "e0a47276.cc7b4",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 180,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "7d6f612e.35e91"
            ]
        ]
    },
    {
        "id": "1038859a.24bcea",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 225,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "57539b20.b1aed4"
            ]
        ]
    },
    {
        "id": "e3c9c95e.a78a78",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 270,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "a5d28a1.2428f78"
            ]
        ]
    },
    {
        "id": "fb787d28.64ffb",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 315,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "ab98fbe7.1332d8"
            ]
        ]
    },
    {
        "id": "a0bcfe1.d396e",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 360,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "e0afd077.31e06"
            ]
        ]
    },
    {
        "id": "57c4159a.6f042c",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 405,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "c984d742.a8ded8"
            ]
        ]
    },
    {
        "id": "23d93fa9.bf5e2",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 260,
        "y": 450,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "9e4be152.83e9c"
            ]
        ]
    },
    {
        "id": "9d5052de.9ec13",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 495,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "737a1b16.6de934"
            ]
        ]
    },
    {
        "id": "e41411d4.65cc1",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 585,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "dbe8cdc3.911c7"
            ]
        ]
    },
    {
        "id": "8a771883.98d1e8",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 630,
        "wires": [
            [
                "47d8754.6cf988c",
                "97267814.f68168"
            ],
            [
                "2517ebb9.1fa284"
            ]
        ]
    },
    {
        "id": "97267814.f68168",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"there seems to be an issue\"}",
        "mergecontext": "",
        "x": 420,
        "y": 585,
        "wires": [
            []
        ]
    },
    {
        "id": "6bf16231.e2847c",
        "type": "comment",
        "z": "51a2120d.12405c",
        "name": "Problem",
        "info": "",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "47d8754.6cf988c",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 135,
        "wires": [
            [
                "ffbaf329.213dc"
            ]
        ]
    },
    {
        "id": "737a1b16.6de934",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 100,
        "y": 540,
        "wires": [
            [
                "cd212a5e.37fe78"
            ]
        ]
    },
    {
        "id": "cd212a5e.37fe78",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 540,
        "wires": [
            [
                "97267814.f68168"
            ],
            [
                "1d64dc38.18f244"
            ]
        ]
    },
    {
        "id": "b0abfee0.1c856",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 610,
        "y": 945,
        "wires": [
            [
                "c49c9a4a.6a5048"
            ]
        ]
    },
    {
        "id": "c49c9a4a.6a5048",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 990,
        "wires": [
            [
                "ec9629ad.7b7c38",
                "e44e8e58.3ae2f"
            ],
            [
                "d1e72457.86a888"
            ]
        ]
    },
    {
        "id": "e44e8e58.3ae2f",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"living window open\"}",
        "mergecontext": "",
        "x": 825,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "ec9629ad.7b7c38",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 990,
        "wires": [
            [
                "d1e72457.86a888"
            ]
        ]
    },
    {
        "id": "2517ebb9.1fa284",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Temps",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.tempsensor_check",
        "x": 80,
        "y": 675,
        "wires": [
            [
                "c16586c1.2c2228"
            ]
        ]
    },
    {
        "id": "c16586c1.2c2228",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 675,
        "wires": [
            [
                "97267814.f68168",
                "47d8754.6cf988c"
            ],
            [
                "b1b8992f.de91b8"
            ]
        ]
    },
    {
        "id": "feb322d1.97fcf",
        "type": "api-current-state",
        "z": "51a2120d.12405c",
        "name": "Temps",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.tempsensor_check",
        "x": 620,
        "y": 1215,
        "wires": [
            [
                "e03ed5f2.4729b8"
            ]
        ]
    },
    {
        "id": "e03ed5f2.4729b8",
        "type": "switch",
        "z": "51a2120d.12405c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 635,
        "y": 1260,
        "wires": [
            [
                "b81848f.efd60b8",
                "b1c7ba55.906488"
            ],
            [
                "f5c3bbab.c0db28"
            ]
        ]
    },
    {
        "id": "b1c7ba55.906488",
        "type": "api-call-service",
        "z": "51a2120d.12405c",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"temp sensor offline\"}",
        "mergecontext": "",
        "x": 825,
        "y": 1215,
        "wires": [
            []
        ]
    },
    {
        "id": "b81848f.efd60b8",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 825,
        "y": 1260,
        "wires": [
            [
                "f5c3bbab.c0db28"
            ]
        ]
    },
    {
        "id": "61475f67.8160e",
        "type": "delay",
        "z": "51a2120d.12405c",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 300,
        "y": 75,
        "wires": [
            [
                "ed137ccf.38519"
            ]
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    }
]
