Presence Flow 1.1
[
    {
        "id": "7745bb47.9069a4",
        "type": "tab",
        "label": "Presence",
        "disabled": false,
        "info": ""
    },
    {
        "id": "696b73d9.5e8e3c",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Mandy Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.mandys_iphone",
        "x": 280,
        "y": 105,
        "wires": [
            [
                "379f6ab9.96c9c6"
            ]
        ]
    },
    {
        "id": "ba3c2316.38be6",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Jake Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.jakes_iphone",
        "x": 280,
        "y": 150,
        "wires": [
            [
                "2ba25a0b.ac25d6"
            ]
        ]
    },
    {
        "id": "379f6ab9.96c9c6",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Abby Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.abigailnsiphone",
        "x": 445,
        "y": 105,
        "wires": [
            [
                "a783d5dc.525798"
            ]
        ]
    },
    {
        "id": "2ba25a0b.ac25d6",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Abby Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.abigailnsiphone",
        "x": 445,
        "y": 150,
        "wires": [
            [
                "a783d5dc.525798"
            ]
        ]
    },
    {
        "id": "2538957a.448dea",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Jake Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.jakes_iphone",
        "x": 280,
        "y": 195,
        "wires": [
            [
                "9dca8956.484c28"
            ]
        ]
    },
    {
        "id": "9dca8956.484c28",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Mandy Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.mandys_iphone",
        "x": 445,
        "y": 195,
        "wires": [
            [
                "a783d5dc.525798"
            ]
        ]
    },
    {
        "id": "a783d5dc.525798",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Unoccupied!",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.house_occupied\" }",
        "mergecontext": "",
        "x": 820,
        "y": 165,
        "wires": [
            []
        ]
    },
    {
        "id": "d6a562cf.712a1",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Jake Arrive",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.jakes_iphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "0tiiv7to2iff",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "oo22oig3iko",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 85,
        "y": 285,
        "wires": [
            [
                "d42fb232.445bd"
            ],
            []
        ]
    },
    {
        "id": "2bbc95da.5aaf7a",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Mandy Arrive",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.mandys_iphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "0tiiv7to2iff",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "oo22oig3iko",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 85,
        "y": 330,
        "wires": [
            [
                "d42fb232.445bd"
            ],
            []
        ]
    },
    {
        "id": "3442cf73.7ae3e",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Abby Arrive",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.abigailnsiphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "0tiiv7to2iff",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "oo22oig3iko",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 85,
        "y": 375,
        "wires": [
            [
                "d42fb232.445bd"
            ],
            []
        ]
    },
    {
        "id": "d42fb232.445bd",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Occupied!",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"input_boolean.house_occupied\" }",
        "mergecontext": "",
        "x": 270,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "3481e3e.d23e41c",
        "type": "comment",
        "z": "7745bb47.9069a4",
        "name": "Leaving/Arriving",
        "info": "",
        "x": 95,
        "y": 30,
        "wires": []
    },
    {
        "id": "5eb9b7b3.7a4a18",
        "type": "server-state-changed",
        "z": "7745bb47.9069a4",
        "name": "Fam Leaving",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.fam_leaving",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 240,
        "wires": [
            [
                "a25429b1.3c3698"
            ]
        ]
    },
    {
        "id": "a25429b1.3c3698",
        "type": "delay",
        "z": "7745bb47.9069a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 240,
        "wires": [
            [
                "a783d5dc.525798"
            ]
        ]
    },
    {
        "id": "58079909.b78878",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Living Light",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.livingroom_light",
        "x": 445,
        "y": 450,
        "wires": [
            [
                "4e97327d.bfba2c"
            ]
        ]
    },
    {
        "id": "4e97327d.bfba2c",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "livinglight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 450,
        "wires": [
            []
        ]
    },
    {
        "id": "f59b28c8.55df38",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Living Lamps",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.livingroom_lamps",
        "x": 445,
        "y": 480,
        "wires": [
            [
                "57ebd342.cbe28c"
            ]
        ]
    },
    {
        "id": "57ebd342.cbe28c",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "livinglamps",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "eb15390.112b2c8",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Dining Light",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.diningroom_light",
        "x": 445,
        "y": 510,
        "wires": [
            [
                "69ae306c.6f446"
            ]
        ]
    },
    {
        "id": "69ae306c.6f446",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "dininglight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "5ee22604.25e548",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Dining Table",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.diningroom_table",
        "x": 445,
        "y": 540,
        "wires": [
            [
                "85437560.009d28"
            ]
        ]
    },
    {
        "id": "85437560.009d28",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "diningtable",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "4c57a187.7e7dc",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Light",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.kitchen_light",
        "x": 445,
        "y": 570,
        "wires": [
            [
                "b7a893d4.77812"
            ]
        ]
    },
    {
        "id": "b7a893d4.77812",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kitchenlight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "66c493fd.79dbdc",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Island",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.kitchen_island",
        "x": 455,
        "y": 600,
        "wires": [
            [
                "55d25a53.eb00c4"
            ]
        ]
    },
    {
        "id": "55d25a53.eb00c4",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kitchenisland",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 730,
        "y": 600,
        "wires": [
            []
        ]
    },
    {
        "id": "75507cc8.b6c384",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Office Light",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "switch.office_light",
        "x": 445,
        "y": 660,
        "wires": [
            [
                "4aa85591.ba298c"
            ]
        ]
    },
    {
        "id": "4aa85591.ba298c",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "officelight",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 720,
        "y": 660,
        "wires": [
            []
        ]
    },
    {
        "id": "ca91c87f.5c69a8",
        "type": "function",
        "z": "7745bb47.9069a4",
        "name": "Forgot Garage",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Everyone Left and Garage Door is Open!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"garage\",\n        \"sound\": \"US-EN-Daisy-Garage-Door-Open.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 755,
        "y": 360,
        "wires": [
            [
                "af10a9da.75a608",
                "d6bdb11c.95bff"
            ]
        ]
    },
    {
        "id": "20aada54.becb46",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Garage",
        "server": "43c6abca.ce6fb4",
        "halt_if": "closed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "cover.garage_door",
        "x": 585,
        "y": 360,
        "wires": [
            [
                "ca91c87f.5c69a8"
            ]
        ]
    },
    {
        "id": "21c20a3b.b7cf26",
        "type": "delay",
        "z": "7745bb47.9069a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "minutes",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 435,
        "y": 360,
        "wires": [
            [
                "20aada54.becb46"
            ]
        ]
    },
    {
        "id": "c4a7fb18.6e86b8",
        "type": "delay",
        "z": "7745bb47.9069a4",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 435,
        "y": 705,
        "wires": [
            [
                "d67a191f.541438"
            ]
        ]
    },
    {
        "id": "d67a191f.541438",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Turn Off All Lights",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"group.all_lights\" }",
        "mergecontext": "",
        "x": 720,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "889db6ad.df5f58",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Living Light",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.livingroom_light\" }",
        "mergecontext": "",
        "x": 700,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "affa7322.cfb73",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Living Lamps",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.livingroom_lamps\" }",
        "mergecontext": "",
        "x": 700,
        "y": 885,
        "wires": [
            []
        ]
    },
    {
        "id": "3b61c02d.0bcc4",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Dining Light",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.diningroom_light\" }",
        "mergecontext": "",
        "x": 700,
        "y": 915,
        "wires": [
            []
        ]
    },
    {
        "id": "832da834.b6d9d8",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Dining Table",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.diningroom_table\" }",
        "mergecontext": "",
        "x": 700,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "efe9c68.f7d2e38",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Light",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.kitchen_light\" }",
        "mergecontext": "",
        "x": 700,
        "y": 975,
        "wires": [
            []
        ]
    },
    {
        "id": "ef59fab1.55cc78",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Island",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.kitchen_island\" }",
        "mergecontext": "",
        "x": 710,
        "y": 1005,
        "wires": [
            []
        ]
    },
    {
        "id": "ad704210.c5371",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Office",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.office_light\" }",
        "mergecontext": "",
        "x": 680,
        "y": 1065,
        "wires": [
            []
        ]
    },
    {
        "id": "8923441b.471688",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "livinglight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 855,
        "wires": [
            [
                "889db6ad.df5f58"
            ]
        ]
    },
    {
        "id": "8c26fe3.5b214",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "livinglamps",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 885,
        "wires": [
            [
                "affa7322.cfb73"
            ]
        ]
    },
    {
        "id": "218e3332.9d782c",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "dininglight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 915,
        "wires": [
            [
                "3b61c02d.0bcc4"
            ]
        ]
    },
    {
        "id": "c0ec020.aa702",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "diningtable",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 945,
        "wires": [
            [
                "832da834.b6d9d8"
            ]
        ]
    },
    {
        "id": "a6459886.b77ff8",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "kitchenlight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 975,
        "wires": [
            [
                "efe9c68.f7d2e38"
            ]
        ]
    },
    {
        "id": "8d330f9e.9144b",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "kitchenisland",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 1005,
        "wires": [
            [
                "ef59fab1.55cc78"
            ]
        ]
    },
    {
        "id": "6d713b8.1b0c7c4",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "officelight",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 1065,
        "wires": [
            [
                "ad704210.c5371"
            ]
        ]
    },
    {
        "id": "e3d2e5d2.b81a08",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Guest Mode",
        "server": "43c6abca.ce6fb4",
        "halt_if": "on",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "input_boolean.guest_mode",
        "x": 265,
        "y": 465,
        "wires": [
            [
                "21c20a3b.b7cf26",
                "58079909.b78878",
                "f59b28c8.55df38",
                "eb15390.112b2c8",
                "5ee22604.25e548",
                "4c57a187.7e7dc",
                "66c493fd.79dbdc",
                "75507cc8.b6c384",
                "c4a7fb18.6e86b8",
                "912261e9.0c2a9",
                "60eadade.ea0544"
            ]
        ]
    },
    {
        "id": "ba704198.c609",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Reset Guest Mode",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_off",
        "data": "{ \"entity_id\": \"input_boolean.guest_mode\" }",
        "mergecontext": "",
        "x": 465,
        "y": 810,
        "wires": [
            []
        ]
    },
    {
        "id": "60eadade.ea0544",
        "type": "function",
        "z": "7745bb47.9069a4",
        "name": "Hibernating, Set Alarm?",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'House is Hibernating, Set Alarm?',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"armaway\",\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 485,
        "y": 405,
        "wires": [
            [
                "af10a9da.75a608",
                "d6bdb11c.95bff"
            ]
        ]
    },
    {
        "id": "af10a9da.75a608",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Jake",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_jakes_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 1085,
        "y": 405,
        "wires": [
            []
        ]
    },
    {
        "id": "912261e9.0c2a9",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Cabinets",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "switch.kitchen_island",
        "x": 465,
        "y": 630,
        "wires": [
            [
                "f27bd6d9.70d0e8"
            ]
        ]
    },
    {
        "id": "f27bd6d9.70d0e8",
        "type": "change",
        "z": "7745bb47.9069a4",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "kitchencabinets",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 740,
        "y": 630,
        "wires": [
            []
        ]
    },
    {
        "id": "edb22055.b4abd",
        "type": "switch",
        "z": "7745bb47.9069a4",
        "name": "",
        "property": "kitchencabinets",
        "propertyType": "flow",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 425,
        "y": 1035,
        "wires": [
            [
                "2f349a73.ab38f6"
            ]
        ]
    },
    {
        "id": "2f349a73.ab38f6",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Kitchen Cabinets",
        "server": "43c6abca.ce6fb4",
        "service_domain": "switch",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"switch.kitchen_cabinets\" }",
        "mergecontext": "",
        "x": 720,
        "y": 1035,
        "wires": [
            []
        ]
    },
    {
        "id": "50f5972.d7f4c68",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Unoccupied",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.house_occupied",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ass1pm4aksq",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            },
            {
                "id": "lncvn342pm",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 85,
        "y": 465,
        "wires": [
            [
                "e3d2e5d2.b81a08"
            ],
            []
        ]
    },
    {
        "id": "b5a87ef8.0c85b",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Jake Left",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.jakes_iphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "xosatiekog",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "jqpv8pkqreh",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 75,
        "y": 105,
        "wires": [
            [
                "696b73d9.5e8e3c",
                "ca3f57cf.620d08"
            ],
            []
        ]
    },
    {
        "id": "761a2e77.71fcc",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Mandy Left",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.mandys_iphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "igddxckzrd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "2g5vnzsqv3e",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 85,
        "y": 150,
        "wires": [
            [
                "ba3c2316.38be6"
            ],
            []
        ]
    },
    {
        "id": "14a818c6.e20987",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Abby Left",
        "server": "43c6abca.ce6fb4",
        "entityid": "device_tracker.abigailnsiphone",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ratwkg9t0w",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            },
            {
                "id": "ez1m0gtrhap",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 75,
        "y": 195,
        "wires": [
            [
                "2538957a.448dea"
            ],
            []
        ]
    },
    {
        "id": "8718f400.277ab",
        "type": "trigger-state",
        "z": "7745bb47.9069a4",
        "name": "Occupied",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.house_occupied",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ws3ttm09sg",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "xxp81u4p9f",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 75,
        "y": 810,
        "wires": [
            [
                "4603c5c1.475ddc",
                "ba704198.c609",
                "8923441b.471688",
                "8c26fe3.5b214",
                "218e3332.9d782c",
                "c0ec020.aa702",
                "a6459886.b77ff8",
                "8d330f9e.9144b",
                "edb22055.b4abd",
                "6d713b8.1b0c7c4"
            ],
            []
        ]
    },
    {
        "id": "93092dff.bc12c",
        "type": "comment",
        "z": "7745bb47.9069a4",
        "name": "Save States of Common Areas",
        "info": "",
        "x": 145,
        "y": 420,
        "wires": []
    },
    {
        "id": "665e591a.f168c8",
        "type": "comment",
        "z": "7745bb47.9069a4",
        "name": "Restore Common Areas",
        "info": "",
        "x": 115,
        "y": 765,
        "wires": []
    },
    {
        "id": "d6bdb11c.95bff",
        "type": "weekday",
        "z": "7745bb47.9069a4",
        "name": "Work Days",
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "x": 895,
        "y": 315,
        "wires": [
            [
                "e930e3c0.ff47f"
            ],
            [
                "893f437f.d3728"
            ]
        ]
    },
    {
        "id": "e930e3c0.ff47f",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Mandy",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_mandys_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 1085,
        "y": 315,
        "wires": [
            []
        ]
    },
    {
        "id": "893f437f.d3728",
        "type": "time-range-switch",
        "z": "7745bb47.9069a4",
        "name": "Work Hours",
        "lat": "35.225286",
        "lon": "-89.837599",
        "startTime": "08:00",
        "endTime": "16:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 1030,
        "y": 360,
        "wires": [
            [],
            [
                "e930e3c0.ff47f"
            ]
        ]
    },
    {
        "id": "4603c5c1.475ddc",
        "type": "function",
        "z": "7745bb47.9069a4",
        "name": "Welcome, Disable Alarm?",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Welcome Home, Disable Alarm?',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"disablealarm\",\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 485,
        "y": 765,
        "wires": [
            [
                "2ab83a21.372256",
                "44aae539.98f16c"
            ]
        ]
    },
    {
        "id": "44aae539.98f16c",
        "type": "weekday",
        "z": "7745bb47.9069a4",
        "name": "Work Days",
        "sun": true,
        "mon": false,
        "tue": false,
        "wed": false,
        "thu": false,
        "fri": false,
        "sat": true,
        "x": 700,
        "y": 810,
        "wires": [
            [
                "54db80c9.55cb2"
            ],
            [
                "3b359a8c.486ef6"
            ]
        ]
    },
    {
        "id": "3b359a8c.486ef6",
        "type": "time-range-switch",
        "z": "7745bb47.9069a4",
        "name": "Work Hours",
        "lat": "35.225286",
        "lon": "-89.837599",
        "startTime": "08:00",
        "endTime": "16:30",
        "startOffset": 0,
        "endOffset": 0,
        "x": 865,
        "y": 810,
        "wires": [
            [],
            [
                "54db80c9.55cb2"
            ]
        ]
    },
    {
        "id": "54db80c9.55cb2",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Mandy",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_mandys_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 875,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "2ab83a21.372256",
        "type": "api-call-service",
        "z": "7745bb47.9069a4",
        "name": "Jake",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_jakes_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 680,
        "y": 765,
        "wires": [
            []
        ]
    },
    {
        "id": "ca3f57cf.620d08",
        "type": "api-current-state",
        "z": "7745bb47.9069a4",
        "name": "Mandy Home",
        "server": "43c6abca.ce6fb4",
        "halt_if": "home",
        "override_topic": true,
        "override_payload": true,
        "override_data": true,
        "entity_id": "device_tracker.mandys_iphone",
        "x": 280,
        "y": 60,
        "wires": [
            [
                "8fc7058d.0ff448"
            ]
        ]
    },
    {
        "id": "8fc7058d.0ff448",
        "type": "weekday",
        "z": "7745bb47.9069a4",
        "name": "School Days",
        "sun": false,
        "mon": true,
        "tue": true,
        "wed": true,
        "thu": true,
        "fri": true,
        "sat": false,
        "x": 445,
        "y": 60,
        "wires": [
            [
                "c27437f5.b729d8"
            ],
            []
        ]
    },
    {
        "id": "c27437f5.b729d8",
        "type": "time-range-switch",
        "z": "7745bb47.9069a4",
        "name": "Depart Time",
        "lat": "35.225286",
        "lon": "-89.837599",
        "startTime": "08:30",
        "endTime": "08:50",
        "startOffset": 0,
        "endOffset": 0,
        "x": 610,
        "y": 60,
        "wires": [
            [
                "a783d5dc.525798"
            ],
            []
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    }
]
