Security Flow 1.1
[
    {
        "id": "39f55c1d.7f1a64",
        "type": "tab",
        "label": "Security",
        "disabled": false,
        "info": ""
    },
    {
        "id": "4abf2ee3.cb8ec",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "6ryxgf4y9dd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 75,
        "y": 75,
        "wires": [
            [
                "7800d0ed.1008",
                "ba21102d.fe5c9",
                "6aed3332.a0e68c",
                "61a92360.bc164c"
            ],
            []
        ]
    },
    {
        "id": "5476906f.46755",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"The alarm has been triggered, I am curently notifying the owner and the police, i would suggest leaving now\"}",
        "mergecontext": "",
        "x": 450,
        "y": 90,
        "wires": [
            []
        ]
    },
    {
        "id": "7800d0ed.1008",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 255,
        "y": 105,
        "wires": [
            [
                "5476906f.46755",
                "be834c0a.0eac3",
                "8ef44ab8.4cfb18"
            ]
        ]
    },
    {
        "id": "dc8d0ca9.a02c6",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Disarmed",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "mzfjpqyizpd",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            },
            {
                "id": "1z2uqek80e7",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 75,
        "y": 210,
        "wires": [
            [
                "b873c4f6.445018",
                "bc725085.54356",
                "d3c24add.77cf58",
                "7aca51e8.89479"
            ],
            []
        ]
    },
    {
        "id": "ef21e377.9e1d2",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed Home",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "02uihqv8bphx",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            },
            {
                "id": "u8zhxcbsked",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            },
            {
                "id": "na1c0n829rm",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 85,
        "y": 360,
        "wires": [
            [
                "64375ef.19709a",
                "beffc360.13b5a"
            ],
            []
        ]
    },
    {
        "id": "b873c4f6.445018",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Alarm Disarmed\"}",
        "mergecontext": "",
        "x": 255,
        "y": 210,
        "wires": [
            []
        ]
    },
    {
        "id": "d5af1cdb.cbbee",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 255,
        "y": 645,
        "wires": [
            []
        ]
    },
    {
        "id": "c17de16.1c43a2",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed Away",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "nh1ay38qtg",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away"
            },
            {
                "id": "wrhuh0bmg9l",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is_not",
                "comparatorValueDatatype": "str",
                "comparatorValue": "amred_away"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 85,
        "y": 645,
        "wires": [
            [
                "d5af1cdb.cbbee",
                "fa6ab0b1.83c5b",
                "ccd4c3d8.3af89"
            ],
            []
        ]
    },
    {
        "id": "ba21102d.fe5c9",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "45",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 255,
        "y": 135,
        "wires": [
            [
                "5476906f.46755",
                "be834c0a.0eac3",
                "8ef44ab8.4cfb18"
            ]
        ]
    },
    {
        "id": "15e88292.4c6f8d",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.front_door",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1020,
        "wires": [
            [
                "e831ae84.a94ad",
                "7c96ae9c.f43c4",
                "cbf06a95.fcf788"
            ]
        ]
    },
    {
        "id": "e831ae84.a94ad",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1020,
        "wires": [
            [
                "5a688918.b10048",
                "3ed660a6.8a359"
            ]
        ]
    },
    {
        "id": "bc725085.54356",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Alarm Disarmed\"}",
        "mergecontext": "",
        "x": 245,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "fa6ab0b1.83c5b",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 245,
        "y": 675,
        "wires": [
            []
        ]
    },
    {
        "id": "be834c0a.0eac3",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"The alarm has been triggered, I am curently notifying the owner and the police, i would suggest leaving now\"}",
        "mergecontext": "",
        "x": 440,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "5a688918.b10048",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1005,
        "wires": [
            []
        ]
    },
    {
        "id": "6aed3332.a0e68c",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 255,
        "y": 75,
        "wires": [
            [
                "5476906f.46755",
                "be834c0a.0eac3",
                "8ef44ab8.4cfb18"
            ]
        ]
    },
    {
        "id": "61a92360.bc164c",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "60",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 255,
        "y": 165,
        "wires": [
            [
                "5476906f.46755",
                "be834c0a.0eac3",
                "8ef44ab8.4cfb18"
            ]
        ]
    },
    {
        "id": "8ef44ab8.4cfb18",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"The alarm has been triggered, I am curently notifying the owner and the police, i would suggest leaving now\"}",
        "mergecontext": "",
        "x": 450,
        "y": 150,
        "wires": [
            []
        ]
    },
    {
        "id": "ccd4c3d8.3af89",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 255,
        "y": 705,
        "wires": [
            []
        ]
    },
    {
        "id": "d3c24add.77cf58",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Alarm Disarmed\"}",
        "mergecontext": "",
        "x": 255,
        "y": 270,
        "wires": [
            []
        ]
    },
    {
        "id": "bf38c6d8.79e958",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Disarmed to Pending",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "g3mmet9aqer",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "pending"
            },
            {
                "id": "t0qkk2ev9g",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "disarmed"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 115,
        "y": 510,
        "wires": [
            [
                "67cf773d.d9da68",
                "ac3e377a.dc42d8"
            ],
            []
        ]
    },
    {
        "id": "3305fdb1.6cd972",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"40 seconds until alarm is active\"}",
        "mergecontext": "",
        "x": 540,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "d77cd74d.88fc98",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"40 seconds until alarm is active\"}",
        "mergecontext": "",
        "x": 530,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "ac4b4019.a1063",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"40 seconds until alarm is active\"}",
        "mergecontext": "",
        "x": 540,
        "y": 570,
        "wires": [
            []
        ]
    },
    {
        "id": "b8511541.1201d8",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.back_door",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1140,
        "wires": [
            [
                "9116852f.58cde8",
                "cf586432.4e9d48",
                "89b9be11.f5974"
            ]
        ]
    },
    {
        "id": "9116852f.58cde8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1140,
        "wires": [
            [
                "3137b18f.bc098e",
                "a6b15b57.941948"
            ]
        ]
    },
    {
        "id": "3137b18f.bc098e",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "43ab0338.9f0c5c",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.kitchen_door",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 1260,
        "wires": [
            [
                "1fc411b7.960afe",
                "7eb2d542.d8908c",
                "4f830b16.956444"
            ]
        ]
    },
    {
        "id": "1fc411b7.960afe",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1260,
        "wires": [
            [
                "b36ffb4e.508d68",
                "8aec0a5c.01c6e8"
            ]
        ]
    },
    {
        "id": "b36ffb4e.508d68",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "40387a7a.f44e04",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.bedroom_windows",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 1320,
        "wires": [
            [
                "7733a7e1.3703c8"
            ]
        ]
    },
    {
        "id": "7733a7e1.3703c8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1320,
        "wires": [
            [
                "930a733b.8e29b",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "930a733b.8e29b",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1320,
        "wires": [
            []
        ]
    },
    {
        "id": "1dcd82c5.af160d",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.kitchen_windows",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 1350,
        "wires": [
            [
                "b93c838.f3a868"
            ]
        ]
    },
    {
        "id": "b93c838.f3a868",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1350,
        "wires": [
            [
                "46a57dea.a1c454",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "46a57dea.a1c454",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1350,
        "wires": [
            []
        ]
    },
    {
        "id": "2f03559a.d0201a",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.office_windows",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1380,
        "wires": [
            [
                "6b2648b3.1d5068"
            ]
        ]
    },
    {
        "id": "6b2648b3.1d5068",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1380,
        "wires": [
            [
                "80fe836c.201f8",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "80fe836c.201f8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "1cd32bd7.a49734",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.laundry_window",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "outputinitially": false,
        "x": 85,
        "y": 1410,
        "wires": [
            [
                "50465d2a.8d4a74"
            ]
        ]
    },
    {
        "id": "50465d2a.8d4a74",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1410,
        "wires": [
            [
                "603b47b3.38c048",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "603b47b3.38c048",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1410,
        "wires": [
            []
        ]
    },
    {
        "id": "d17d13e3.99079",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Bathroom Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.bathroom_window",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 1440,
        "wires": [
            [
                "f5a0a1e2.cfb8"
            ]
        ]
    },
    {
        "id": "f5a0a1e2.cfb8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1440,
        "wires": [
            [
                "d92d389d.796458",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "d92d389d.796458",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1440,
        "wires": [
            []
        ]
    },
    {
        "id": "be43dc2.7aca72",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Leaving",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.fam_leaving",
        "debugenabled": false,
        "constraints": [
            {
                "id": "j8gcax7ok78",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "8gg4vx130gj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 75,
        "y": 2355,
        "wires": [
            [
                "2dd4be94.bd6e92",
                "8ac9bc1d.7dbf2",
                "7e7bbaa0.6c6c94"
            ],
            []
        ]
    },
    {
        "id": "2dd4be94.bd6e92",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.fam_leaving\"  }",
        "mergecontext": "",
        "x": 230,
        "y": 2355,
        "wires": [
            []
        ]
    },
    {
        "id": "8ac9bc1d.7dbf2",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Arm Away",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_arm_away",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\", \"code\": \"3550\"  }",
        "mergecontext": "",
        "x": 250,
        "y": 2385,
        "wires": [
            []
        ]
    },
    {
        "id": "67cf773d.d9da68",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 330,
        "y": 540,
        "wires": [
            [
                "3305fdb1.6cd972",
                "d77cd74d.88fc98",
                "ac4b4019.a1063"
            ]
        ]
    },
    {
        "id": "e0a92c17.dcfde",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.upstairs_windows",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 85,
        "y": 1470,
        "wires": [
            [
                "ddfeaefd.40ec5"
            ]
        ]
    },
    {
        "id": "ddfeaefd.40ec5",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1470,
        "wires": [
            [
                "4648e576.41df8c",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "4648e576.41df8c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1470,
        "wires": [
            []
        ]
    },
    {
        "id": "b0dbdf60.a1bef",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 480,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "75d823a8.5c1d3c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 470,
        "y": 390,
        "wires": [
            []
        ]
    },
    {
        "id": "3690831d.17785c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Alarm is armed\"}",
        "mergecontext": "",
        "x": 480,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "64375ef.19709a",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "House Check",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"input_boolean.house_check\"  }",
        "mergecontext": "",
        "x": 290,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "beffc360.13b5a",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "7",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 270,
        "y": 390,
        "wires": [
            [
                "b0dbdf60.a1bef",
                "75d823a8.5c1d3c",
                "3690831d.17785c"
            ]
        ]
    },
    {
        "id": "69ad7bb8.55f7b4",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm Triggered Timed Announcements - Disarm Reset - Alarm Disarmed Announcement",
        "info": "",
        "x": 325,
        "y": 30,
        "wires": []
    },
    {
        "id": "a647c3ff.8898a",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Konnected Alarm Sensors & Door Announcements",
        "info": "",
        "x": 205,
        "y": 900,
        "wires": []
    },
    {
        "id": "986e43ba.e1657",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Disarm",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.YOURSECRETDISARMBOOLEAN",
        "debugenabled": false,
        "constraints": [
            {
                "id": "j8gcax7ok78",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "8gg4vx130gj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 435,
        "y": 2355,
        "wires": [
            [
                "2eb6b572.0d2a6a",
                "6e4f151b.34434c",
                "e14b7651.ae9128"
            ],
            []
        ]
    },
    {
        "id": "2eb6b572.0d2a6a",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.YOURSECRETDISARMBOOLEAN\"  }",
        "mergecontext": "",
        "x": 590,
        "y": 2355,
        "wires": [
            []
        ]
    },
    {
        "id": "6e4f151b.34434c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Disarm",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_disarm",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\", \"code\": \"3550\"  }",
        "mergecontext": "",
        "x": 600,
        "y": 2385,
        "wires": [
            []
        ]
    },
    {
        "id": "d713d0eb.3c81a",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed_away to Pending",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "ezgfs3ek51e",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "pending"
            },
            {
                "id": "ybrtal0zzvc",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 125,
        "y": 795,
        "wires": [
            [
                "95badbf3.028c88",
                "e291f046.cb538",
                "610dcfd7.37fa5"
            ],
            []
        ]
    },
    {
        "id": "95badbf3.028c88",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Intrusion Detected\"}",
        "mergecontext": "",
        "x": 345,
        "y": 795,
        "wires": [
            []
        ]
    },
    {
        "id": "e291f046.cb538",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Intrusion Detected\"}",
        "mergecontext": "",
        "x": 335,
        "y": 825,
        "wires": [
            []
        ]
    },
    {
        "id": "610dcfd7.37fa5",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Intrusion Detected\"}",
        "mergecontext": "",
        "x": 345,
        "y": 855,
        "wires": [
            []
        ]
    },
    {
        "id": "27cac1ba.7e586e",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Front Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1665,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "2680541b.1655ec",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Jake",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_jakes_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 785,
        "y": 1770,
        "wires": [
            []
        ]
    },
    {
        "id": "ab306927.2860d8",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Back Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1695,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "654e4de4.c4f9a4",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Kitchen Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1725,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "8ec5f9b6.dd48e8",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Bedroom Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1755,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "5efe9b01.f58a54",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Kitchen Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1785,
        "wires": [
            [
                "2680541b.1655ec"
            ]
        ]
    },
    {
        "id": "c99cc368.7e344",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Office Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1815,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "da3dcc23.5a693",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Laundry Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1845,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "3ea6e4d0.12f8bc",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Bathroom Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1875,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "8f7047f2.2eef08",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Upstairs Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1905,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "171cc614.04276a",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1665,
        "wires": [
            [
                "27cac1ba.7e586e"
            ]
        ]
    },
    {
        "id": "b3e9251a.1639e8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1665,
        "wires": [
            [
                "171cc614.04276a"
            ]
        ]
    },
    {
        "id": "4845801b.a0a7c",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1695,
        "wires": [
            [
                "ab306927.2860d8"
            ]
        ]
    },
    {
        "id": "2677ff47.19b8f",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1695,
        "wires": [
            [
                "4845801b.a0a7c"
            ]
        ]
    },
    {
        "id": "75a3cc4a.ab62b4",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1725,
        "wires": [
            [
                "654e4de4.c4f9a4"
            ]
        ]
    },
    {
        "id": "a3f34944.f110c8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1725,
        "wires": [
            [
                "75a3cc4a.ab62b4"
            ]
        ]
    },
    {
        "id": "3eea86d4.6e653a",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1755,
        "wires": [
            [
                "8ec5f9b6.dd48e8"
            ]
        ]
    },
    {
        "id": "e54d1b3f.1d8fb8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1755,
        "wires": [
            [
                "3eea86d4.6e653a"
            ]
        ]
    },
    {
        "id": "d5f96a5c.c2ade8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1785,
        "wires": [
            [
                "5efe9b01.f58a54"
            ]
        ]
    },
    {
        "id": "1576e521.9b62db",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1785,
        "wires": [
            [
                "d5f96a5c.c2ade8"
            ]
        ]
    },
    {
        "id": "3defa81d.f6ff08",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1815,
        "wires": [
            [
                "c99cc368.7e344"
            ]
        ]
    },
    {
        "id": "16be5408.a8330c",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1815,
        "wires": [
            [
                "3defa81d.f6ff08"
            ]
        ]
    },
    {
        "id": "9ec5dcc7.69751",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1845,
        "wires": [
            [
                "da3dcc23.5a693"
            ]
        ]
    },
    {
        "id": "a7121d2b.c8136",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1845,
        "wires": [
            [
                "9ec5dcc7.69751"
            ]
        ]
    },
    {
        "id": "edc4c9a6.cc5488",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1875,
        "wires": [
            [
                "3ea6e4d0.12f8bc"
            ]
        ]
    },
    {
        "id": "38c65eca.9dcc72",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1875,
        "wires": [
            [
                "edc4c9a6.cc5488"
            ]
        ]
    },
    {
        "id": "6aee2ed.154b9d",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1905,
        "wires": [
            [
                "8f7047f2.2eef08"
            ]
        ]
    },
    {
        "id": "ee48a89f.1316b8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1905,
        "wires": [
            [
                "6aee2ed.154b9d"
            ]
        ]
    },
    {
        "id": "e0bd689b.9ac908",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 160,
        "y": 1665,
        "wires": [
            [
                "b3e9251a.1639e8"
            ]
        ]
    },
    {
        "id": "b65b754b.7423f8",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Away Triggered",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "m7x5ncsc1xl",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_away"
            },
            {
                "id": "1imkhzeby19j",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "pending"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "outputinitially": false,
        "x": 95,
        "y": 1605,
        "wires": [
            [
                "e0bd689b.9ac908",
                "291aa47f.f5b07c",
                "d69cdac3.cf8d08",
                "65b63a40.954514",
                "57f234df.31280c",
                "a17f2295.8e513",
                "488afdf7.7a6ed4",
                "9d01ce08.8f91d",
                "c4e5370e.470b28",
                "a72f3a87.812e08"
            ],
            []
        ]
    },
    {
        "id": "291aa47f.f5b07c",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 160,
        "y": 1695,
        "wires": [
            [
                "2677ff47.19b8f"
            ]
        ]
    },
    {
        "id": "d69cdac3.cf8d08",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 160,
        "y": 1725,
        "wires": [
            [
                "a3f34944.f110c8"
            ]
        ]
    },
    {
        "id": "65b63a40.954514",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bed Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 150,
        "y": 1755,
        "wires": [
            [
                "e54d1b3f.1d8fb8"
            ]
        ]
    },
    {
        "id": "57f234df.31280c",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 160,
        "y": 1785,
        "wires": [
            [
                "1576e521.9b62db"
            ]
        ]
    },
    {
        "id": "a17f2295.8e513",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 160,
        "y": 1815,
        "wires": [
            [
                "16be5408.a8330c"
            ]
        ]
    },
    {
        "id": "488afdf7.7a6ed4",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 160,
        "y": 1845,
        "wires": [
            [
                "a7121d2b.c8136"
            ]
        ]
    },
    {
        "id": "9d01ce08.8f91d",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bath Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 150,
        "y": 1875,
        "wires": [
            [
                "38c65eca.9dcc72"
            ]
        ]
    },
    {
        "id": "c4e5370e.470b28",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 160,
        "y": 1905,
        "wires": [
            [
                "ee48a89f.1316b8"
            ]
        ]
    },
    {
        "id": "735bc6ec.089cd8",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Front Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1995,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "654e9524.4c607c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Jake",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_jakes_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 785,
        "y": 2070,
        "wires": [
            []
        ]
    },
    {
        "id": "6bd27f10.4e095",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Back Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2025,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "7cbda4e5.316d7c",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Kitchen Door Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2055,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "49278d76.677944",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Bedroom Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2085,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "55468d0b.0f3ef4",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Kitchen Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2115,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "1f2d0557.d7219b",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Office Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2145,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "39d8f925.38fa06",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Laundry Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2175,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "1abf3e0e.958a72",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Bathroom Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2205,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "71c12829.632d88",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Upstairs Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2235,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "5175b095.21a2d",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 325,
        "y": 1995,
        "wires": [
            [
                "735bc6ec.089cd8"
            ]
        ]
    },
    {
        "id": "3abbb5eb.2c665a",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "Home Triggered",
        "server": "43c6abca.ce6fb4",
        "entityid": "alarm_control_panel.home_alarm",
        "debugenabled": false,
        "constraints": [
            {
                "id": "k85v3xrjqlr",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "triggered"
            },
            {
                "id": "h5nrv4ko05m",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "armed_home"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 95,
        "y": 1995,
        "wires": [
            [
                "5175b095.21a2d",
                "8a19d0c3.c0bba",
                "40d8cff5.15a13",
                "455508dd.c218e8",
                "6a112a40.4608f4",
                "c6c8e949.087218",
                "5e963201.29db5c",
                "65ce38e6.4d4918",
                "ed72da4d.93ee18"
            ],
            [
                "5894f637.a10748"
            ]
        ]
    },
    {
        "id": "8a19d0c3.c0bba",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 325,
        "y": 2025,
        "wires": [
            [
                "6bd27f10.4e095"
            ]
        ]
    },
    {
        "id": "40d8cff5.15a13",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 325,
        "y": 2055,
        "wires": [
            [
                "7cbda4e5.316d7c"
            ]
        ]
    },
    {
        "id": "455508dd.c218e8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bed Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 315,
        "y": 2085,
        "wires": [
            [
                "49278d76.677944"
            ]
        ]
    },
    {
        "id": "6a112a40.4608f4",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 325,
        "y": 2115,
        "wires": [
            [
                "55468d0b.0f3ef4"
            ]
        ]
    },
    {
        "id": "c6c8e949.087218",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 325,
        "y": 2145,
        "wires": [
            [
                "1f2d0557.d7219b"
            ]
        ]
    },
    {
        "id": "5e963201.29db5c",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 325,
        "y": 2175,
        "wires": [
            [
                "39d8f925.38fa06"
            ]
        ]
    },
    {
        "id": "65ce38e6.4d4918",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bathr Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 315,
        "y": 2205,
        "wires": [
            [
                "1abf3e0e.958a72"
            ]
        ]
    },
    {
        "id": "ed72da4d.93ee18",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 325,
        "y": 2235,
        "wires": [
            [
                "71c12829.632d88"
            ]
        ]
    },
    {
        "id": "7aca51e8.89479",
        "type": "change",
        "z": "39f55c1d.7f1a64",
        "name": "reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 80,
        "y": 150,
        "wires": [
            [
                "7800d0ed.1008",
                "ba21102d.fe5c9",
                "61a92360.bc164c"
            ]
        ]
    },
    {
        "id": "ea51ded5.cbf09",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Intrusion Specific Phone Notifications",
        "info": "",
        "x": 165,
        "y": 1560,
        "wires": []
    },
    {
        "id": "7c96ae9c.f43c4",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Front Door\"}",
        "mergecontext": "",
        "x": 255,
        "y": 945,
        "wires": [
            []
        ]
    },
    {
        "id": "cbf06a95.fcf788",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Front Door\" }",
        "mergecontext": "",
        "x": 245,
        "y": 975,
        "wires": [
            []
        ]
    },
    {
        "id": "cf586432.4e9d48",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Back Door\"}",
        "mergecontext": "",
        "x": 255,
        "y": 1065,
        "wires": [
            []
        ]
    },
    {
        "id": "89b9be11.f5974",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Back Door\" }",
        "mergecontext": "",
        "x": 245,
        "y": 1095,
        "wires": [
            []
        ]
    },
    {
        "id": "7eb2d542.d8908c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Kitchen Door\"}",
        "mergecontext": "",
        "x": 255,
        "y": 1185,
        "wires": [
            []
        ]
    },
    {
        "id": "4f830b16.956444",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Kitchen Door\" }",
        "mergecontext": "",
        "x": 245,
        "y": 1215,
        "wires": [
            []
        ]
    },
    {
        "id": "3ed660a6.8a359",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 975,
        "wires": [
            [
                "2e3dc85d.28a7b8",
                "4b8ff77c.7efe98",
                "6d32bde8.886094"
            ]
        ]
    },
    {
        "id": "a6b15b57.941948",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 1110,
        "wires": [
            [
                "9ad258bf.ada868",
                "71711caa.f871e4",
                "f4f92232.ec955"
            ]
        ]
    },
    {
        "id": "2e3dc85d.28a7b8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Front Door\"}",
        "mergecontext": "",
        "x": 630,
        "y": 960,
        "wires": [
            []
        ]
    },
    {
        "id": "4b8ff77c.7efe98",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Front Door\" }",
        "mergecontext": "",
        "x": 620,
        "y": 990,
        "wires": [
            []
        ]
    },
    {
        "id": "6d32bde8.886094",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Front Door\" }",
        "mergecontext": "",
        "x": 630,
        "y": 1020,
        "wires": [
            []
        ]
    },
    {
        "id": "9ad258bf.ada868",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Back Door\"}",
        "mergecontext": "",
        "x": 630,
        "y": 1095,
        "wires": [
            []
        ]
    },
    {
        "id": "71711caa.f871e4",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Back Door\" }",
        "mergecontext": "",
        "x": 620,
        "y": 1125,
        "wires": [
            []
        ]
    },
    {
        "id": "f4f92232.ec955",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Back Door\" }",
        "mergecontext": "",
        "x": 630,
        "y": 1155,
        "wires": [
            []
        ]
    },
    {
        "id": "8aec0a5c.01c6e8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "4",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 1230,
        "wires": [
            [
                "7ec46403.7d578c",
                "b5de718f.b4b0b",
                "f22a5d89.5c412"
            ]
        ]
    },
    {
        "id": "7ec46403.7d578c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Kitchen Door\"}",
        "mergecontext": "",
        "x": 630,
        "y": 1215,
        "wires": [
            []
        ]
    },
    {
        "id": "b5de718f.b4b0b",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Kitchen Door\" }",
        "mergecontext": "",
        "x": 620,
        "y": 1245,
        "wires": [
            []
        ]
    },
    {
        "id": "f22a5d89.5c412",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"Kitchen Door\" }",
        "mergecontext": "",
        "x": 630,
        "y": 1275,
        "wires": [
            []
        ]
    },
    {
        "id": "81776bcb.da11e8",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Panic",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "input_boolean.panic",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "outputinitially": false,
        "x": 65,
        "y": 2520,
        "wires": [
            [
                "3504c78d.d981d8",
                "c51ef979.778f88",
                "fd5e43a9.498eb",
                "32db0dfb.366082",
                "4dc7eafc.76c524",
                "a789e1ca.83d5c"
            ]
        ]
    },
    {
        "id": "3504c78d.d981d8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 270,
        "y": 2520,
        "wires": [
            [
                "a3f70e55.e0e28"
            ]
        ]
    },
    {
        "id": "a3f70e55.e0e28",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Panic Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.panic\" }",
        "mergecontext": "",
        "x": 430,
        "y": 2520,
        "wires": [
            []
        ]
    },
    {
        "id": "c51ef979.778f88",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Alexa Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"Panic Mode Activated\"}",
        "mergecontext": "",
        "x": 290,
        "y": 2685,
        "wires": [
            []
        ]
    },
    {
        "id": "fd5e43a9.498eb",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Alexa Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"Panic Mode Activated\"}",
        "mergecontext": "",
        "x": 280,
        "y": 2715,
        "wires": [
            []
        ]
    },
    {
        "id": "32db0dfb.366082",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Alexa Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom\", \"message\": \"Panic Mode Activated\"}",
        "mergecontext": "",
        "x": 290,
        "y": 2745,
        "wires": [
            []
        ]
    },
    {
        "id": "6af0517f.280e2",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Alexa Alarm Commands - Input Boolean via  Alexa Routines (secret phrase on disarm)",
        "info": "",
        "x": 315,
        "y": 2310,
        "wires": []
    },
    {
        "id": "3dada510.5a37da",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Panic Activated - Input Boolean - Panic Scene",
        "info": "",
        "x": 185,
        "y": 2475,
        "wires": []
    },
    {
        "id": "4dc7eafc.76c524",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Panic Mode!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 260,
        "y": 2595,
        "wires": [
            [
                "adbd9a0a.cb3978",
                "c77e09f3.2ecec8"
            ]
        ]
    },
    {
        "id": "adbd9a0a.cb3978",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Jake",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_jakes_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 410,
        "y": 2565,
        "wires": [
            []
        ]
    },
    {
        "id": "7e7bbaa0.6c6c94",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "House Empty",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.house_occupied\" }",
        "mergecontext": "",
        "x": 260,
        "y": 2415,
        "wires": [
            []
        ]
    },
    {
        "id": "e14b7651.ae9128",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "House Occupied",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"input_boolean.house_occupied\" }",
        "mergecontext": "",
        "x": 630,
        "y": 2415,
        "wires": [
            []
        ]
    },
    {
        "id": "97f381c3.1061e",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Armed Home Announcement - Execute System Check - No Pending Time",
        "info": "",
        "x": 275,
        "y": 315,
        "wires": []
    },
    {
        "id": "17f01100.edc6bf",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Armed Away Pending - \"Intrusion Detected\"",
        "info": "",
        "x": 175,
        "y": 750,
        "wires": []
    },
    {
        "id": "d2dcdee.c56af2",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Pending Away Announcment - Execute System Check",
        "info": "",
        "x": 215,
        "y": 465,
        "wires": []
    },
    {
        "id": "ac3e377a.dc42d8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "House Check",
        "server": "43c6abca.ce6fb4",
        "service_domain": "input_boolean",
        "service": "turn_on",
        "data": "{   \"entity_id\": \"input_boolean.house_check\"  }",
        "mergecontext": "",
        "x": 350,
        "y": 510,
        "wires": [
            []
        ]
    },
    {
        "id": "edf1ae84.4242b",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Armed Away Announcement",
        "info": "",
        "x": 135,
        "y": 600,
        "wires": []
    },
    {
        "id": "b718ab5a.798b18",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Trigger",
        "server": "43c6abca.ce6fb4",
        "service_domain": "alarm_control_panel",
        "service": "alarm_trigger",
        "data": "{   \"entity_id\": \"alarm_control_panel.home_alarm\" }",
        "mergecontext": "",
        "x": 450,
        "y": 1500,
        "wires": [
            []
        ]
    },
    {
        "id": "b533223.a21dbe",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm On?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 265,
        "y": 1500,
        "wires": [
            [
                "b718ab5a.798b18",
                "2368e6ee.18143a"
            ]
        ]
    },
    {
        "id": "dde3f919.a28888",
        "type": "server-state-changed",
        "z": "39f55c1d.7f1a64",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "entityidfilter": "binary_sensor.living_windows",
        "entityidfiltertype": "substring",
        "haltifstate": "off",
        "x": 75,
        "y": 1500,
        "wires": [
            [
                "b533223.a21dbe"
            ]
        ]
    },
    {
        "id": "a72f3a87.812e08",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 160,
        "y": 1935,
        "wires": [
            [
                "955fe44d.895988"
            ]
        ]
    },
    {
        "id": "955fe44d.895988",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "30",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 315,
        "y": 1935,
        "wires": [
            [
                "7119a52e.2f2aec"
            ]
        ]
    },
    {
        "id": "7119a52e.2f2aec",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Armed?",
        "server": "43c6abca.ce6fb4",
        "halt_if": "disarmed",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "alarm_control_panel.home_alarm",
        "x": 465,
        "y": 1935,
        "wires": [
            [
                "fbace60.5e2cc18"
            ]
        ]
    },
    {
        "id": "fbace60.5e2cc18",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Living Room Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 1935,
        "wires": [
            [
                "2680541b.1655ec",
                "dde11b64.f5c218"
            ]
        ]
    },
    {
        "id": "72be72e7.adef6c",
        "type": "function",
        "z": "39f55c1d.7f1a64",
        "name": "Data",
        "func": "msg.payload = \n{\n  \"data\": \n  {\n    \"message\":'Alarm! Upstairs Window Opened!',\n    \"data\": \n    {\n      \"push\": \n      {\n        \"badge\": 0,\n        \"category\": \"alarm\",\n        \"sound\": \"policesiren.wav\"\n      }\n    }\n  }\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 605,
        "y": 2265,
        "wires": [
            [
                "654e9524.4c607c",
                "96dc9f3e.e04c2"
            ]
        ]
    },
    {
        "id": "5894f637.a10748",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "off",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 325,
        "y": 2265,
        "wires": [
            [
                "72be72e7.adef6c"
            ]
        ]
    },
    {
        "id": "dde11b64.f5c218",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Mandy",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_mandys_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 785,
        "y": 1830,
        "wires": [
            []
        ]
    },
    {
        "id": "96dc9f3e.e04c2",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Mandy",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_mandys_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 785,
        "y": 2130,
        "wires": [
            []
        ]
    },
    {
        "id": "c77e09f3.2ecec8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Mandy",
        "server": "43c6abca.ce6fb4",
        "service_domain": "notify",
        "service": "ios_mandys_iphone",
        "data": "{}",
        "mergecontext": "",
        "x": 410,
        "y": 2595,
        "wires": [
            []
        ]
    },
    {
        "id": "7170a0f3.75049",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Announce",
        "info": "",
        "x": 75,
        "y": 1080,
        "wires": []
    },
    {
        "id": "663588a0.1620c8",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Announce",
        "info": "",
        "x": 75,
        "y": 960,
        "wires": []
    },
    {
        "id": "9319751a.8828b8",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Announce",
        "info": "",
        "x": 75,
        "y": 1200,
        "wires": []
    },
    {
        "id": "2368e6ee.18143a",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 450,
        "y": 1545,
        "wires": [
            [
                "2eaf6f1.414db9",
                "1773c169.11c17f",
                "bd699f4.382476"
            ]
        ]
    },
    {
        "id": "2eaf6f1.414db9",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"window open\"}",
        "mergecontext": "",
        "x": 630,
        "y": 1485,
        "wires": [
            []
        ]
    },
    {
        "id": "1773c169.11c17f",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Living",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.living_room\", \"message\": \"window open\" }",
        "mergecontext": "",
        "x": 620,
        "y": 1515,
        "wires": [
            []
        ]
    },
    {
        "id": "bd699f4.382476",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.bedroom_echo\", \"message\": \"window open\" }",
        "mergecontext": "",
        "x": 630,
        "y": 1545,
        "wires": [
            []
        ]
    },
    {
        "id": "a789e1ca.83d5c",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Panic Scene",
        "server": "43c6abca.ce6fb4",
        "service_domain": "scene",
        "service": "turn_on",
        "data": "{  \"entity_id\": \"scene.panic\"  }",
        "mergecontext": "",
        "x": 280,
        "y": 2640,
        "wires": [
            []
        ]
    },
    {
        "id": "4f65e441.f1bc0c",
        "type": "trigger-state",
        "z": "39f55c1d.7f1a64",
        "name": "House Check",
        "server": "43c6abca.ce6fb4",
        "entityid": "input_boolean.house_check",
        "debugenabled": false,
        "constraints": [
            {
                "id": "j8gcax7ok78",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "previous_state",
                "propertyValue": "old_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "off"
            },
            {
                "id": "8gg4vx130gj",
                "targetType": "this_entity",
                "targetValue": "",
                "propertyType": "current_state",
                "propertyValue": "new_state.state",
                "comparatorType": "is",
                "comparatorValueDatatype": "str",
                "comparatorValue": "on"
            }
        ],
        "constraintsmustmatch": "all",
        "outputs": 2,
        "customoutputs": [],
        "x": 95,
        "y": 2850,
        "wires": [
            [
                "e5b5a9b6.7668b8",
                "20efd067.67598"
            ],
            []
        ]
    },
    {
        "id": "3072452a.42895a",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 610,
        "y": 2910,
        "wires": [
            [
                "2cca8f6c.49739"
            ]
        ]
    },
    {
        "id": "2cca8f6c.49739",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 2955,
        "wires": [
            [
                "fee80b14.9594a8",
                "8707fab6.42fba8"
            ],
            [
                "a35ec53c.e1e528"
            ]
        ]
    },
    {
        "id": "a35ec53c.e1e528",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 595,
        "y": 3000,
        "wires": [
            [
                "e674b3a0.b5b3c"
            ]
        ]
    },
    {
        "id": "e674b3a0.b5b3c",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3045,
        "wires": [
            [
                "380c6c3f.75ea74",
                "2e9a33fb.be08ac"
            ],
            [
                "837c978c.762428"
            ]
        ]
    },
    {
        "id": "fee80b14.9594a8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 2955,
        "wires": [
            [
                "a35ec53c.e1e528"
            ]
        ]
    },
    {
        "id": "380c6c3f.75ea74",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3045,
        "wires": [
            [
                "837c978c.762428"
            ]
        ]
    },
    {
        "id": "837c978c.762428",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 595,
        "y": 3090,
        "wires": [
            [
                "a0e0e35c.66786"
            ]
        ]
    },
    {
        "id": "a0e0e35c.66786",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3135,
        "wires": [
            [
                "da99f373.9ea84",
                "8b9331b9.67c83"
            ],
            [
                "6151f986.a1aa78"
            ]
        ]
    },
    {
        "id": "da99f373.9ea84",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3135,
        "wires": [
            [
                "6151f986.a1aa78"
            ]
        ]
    },
    {
        "id": "5537c135.7569f",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Reset",
        "server": "43c6abca.ce6fb4",
        "service_domain": "homeassistant",
        "service": "turn_off",
        "data": "{   \"entity_id\": \"input_boolean.house_check\"  }",
        "mergecontext": "",
        "x": 425,
        "y": 2850,
        "wires": [
            []
        ]
    },
    {
        "id": "6151f986.a1aa78",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 590,
        "y": 3180,
        "wires": [
            [
                "89df92fa.cc365"
            ]
        ]
    },
    {
        "id": "89df92fa.cc365",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3225,
        "wires": [
            [
                "9129a765.39c818",
                "1009a0ea.542d2f"
            ],
            [
                "fe2643fa.45e79"
            ]
        ]
    },
    {
        "id": "9129a765.39c818",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "2",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3225,
        "wires": [
            [
                "fe2643fa.45e79"
            ]
        ]
    },
    {
        "id": "fe2643fa.45e79",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 595,
        "y": 3270,
        "wires": [
            [
                "a4da639c.c0e16"
            ]
        ]
    },
    {
        "id": "a4da639c.c0e16",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3315,
        "wires": [
            [
                "5ee0b219.1ee80c",
                "ffe5bd08.fd4d"
            ],
            [
                "39336302.64d25c"
            ]
        ]
    },
    {
        "id": "5ee0b219.1ee80c",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3315,
        "wires": [
            [
                "39336302.64d25c"
            ]
        ]
    },
    {
        "id": "39336302.64d25c",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 595,
        "y": 3360,
        "wires": [
            [
                "c1e4c3d3.d7183"
            ]
        ]
    },
    {
        "id": "c1e4c3d3.d7183",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3405,
        "wires": [
            [
                "c0acacb8.6db78",
                "4b6775a0.c5e6ec"
            ],
            [
                "369a03.22c665fe"
            ]
        ]
    },
    {
        "id": "c0acacb8.6db78",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3405,
        "wires": [
            [
                "369a03.22c665fe"
            ]
        ]
    },
    {
        "id": "369a03.22c665fe",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 595,
        "y": 3450,
        "wires": [
            [
                "cf78d6e3.e8ecb8"
            ]
        ]
    },
    {
        "id": "cf78d6e3.e8ecb8",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3495,
        "wires": [
            [
                "abe6d9c4.39f398",
                "da2d7faf.bde48"
            ],
            [
                "208a1686.3644aa"
            ]
        ]
    },
    {
        "id": "abe6d9c4.39f398",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3495,
        "wires": [
            [
                "208a1686.3644aa"
            ]
        ]
    },
    {
        "id": "208a1686.3644aa",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bathroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 590,
        "y": 3540,
        "wires": [
            [
                "a731deae.e8002"
            ]
        ]
    },
    {
        "id": "a731deae.e8002",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3585,
        "wires": [
            [
                "591357ec.3e9a98",
                "49ac448a.683ccc"
            ],
            [
                "b69efb8f.bb3ea8"
            ]
        ]
    },
    {
        "id": "591357ec.3e9a98",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3585,
        "wires": [
            [
                "b69efb8f.bb3ea8"
            ]
        ]
    },
    {
        "id": "8707fab6.42fba8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"front door open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 2910,
        "wires": [
            []
        ]
    },
    {
        "id": "2e9a33fb.be08ac",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"back door open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3000,
        "wires": [
            []
        ]
    },
    {
        "id": "8b9331b9.67c83",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"kitchen door open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3090,
        "wires": [
            []
        ]
    },
    {
        "id": "1009a0ea.542d2f",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bedroom window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3180,
        "wires": [
            []
        ]
    },
    {
        "id": "ffe5bd08.fd4d",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"kitchen window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3270,
        "wires": [
            []
        ]
    },
    {
        "id": "4b6775a0.c5e6ec",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"office window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "da2d7faf.bde48",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"laundry window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3450,
        "wires": [
            []
        ]
    },
    {
        "id": "49ac448a.683ccc",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bathroom window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3540,
        "wires": [
            []
        ]
    },
    {
        "id": "dab51ca.6c343e",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"system check complete\"}",
        "mergecontext": "",
        "x": 810,
        "y": 4080,
        "wires": [
            []
        ]
    },
    {
        "id": "e5b5a9b6.7668b8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Front Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.front_door",
        "x": 85,
        "y": 2910,
        "wires": [
            [
                "75b72b5c.14dd04"
            ]
        ]
    },
    {
        "id": "6b1ab32f.9eb1fc",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Back Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.back_door",
        "x": 85,
        "y": 2955,
        "wires": [
            [
                "ebb99b44.9e4ba8"
            ]
        ]
    },
    {
        "id": "2bfcaeaf.100c92",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Door",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_door",
        "x": 85,
        "y": 3000,
        "wires": [
            [
                "d58556bc.38cbf8"
            ]
        ]
    },
    {
        "id": "5091f7a2.cbd0b8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bedroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bedroom_windows",
        "x": 95,
        "y": 3045,
        "wires": [
            [
                "f014ee02.b7096"
            ]
        ]
    },
    {
        "id": "e194be81.a0d77",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.kitchen_windows",
        "x": 85,
        "y": 3090,
        "wires": [
            [
                "db062283.398b"
            ]
        ]
    },
    {
        "id": "8366b09.c29005",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Office Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.office_windows",
        "x": 85,
        "y": 3135,
        "wires": [
            [
                "a8690881.5bfe68"
            ]
        ]
    },
    {
        "id": "90eccf0f.676e9",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Laundry Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.laundry_window",
        "x": 85,
        "y": 3180,
        "wires": [
            [
                "57cd0d0d.808fd4"
            ]
        ]
    },
    {
        "id": "e0ed898d.ad2678",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Bathroom Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.bathroom_window",
        "x": 95,
        "y": 3225,
        "wires": [
            [
                "346f5d15.0a4fd2"
            ]
        ]
    },
    {
        "id": "5009d3fc.e298ec",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 85,
        "y": 3270,
        "wires": [
            [
                "f1b51431.72cb08"
            ]
        ]
    },
    {
        "id": "e89a3f0d.7cb19",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Checks Ok",
        "info": "",
        "x": 405,
        "y": 3405,
        "wires": []
    },
    {
        "id": "78510cb9.53a5c4",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"everything checks ok\"}",
        "mergecontext": "",
        "x": 405,
        "y": 3450,
        "wires": [
            []
        ]
    },
    {
        "id": "b69efb8f.bb3ea8",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Upstairs Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.upstairs_windows",
        "x": 595,
        "y": 3630,
        "wires": [
            [
                "7f04ae7e.2cbf8"
            ]
        ]
    },
    {
        "id": "7f04ae7e.2cbf8",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3675,
        "wires": [
            [
                "4f2578a0.926bd8",
                "5ffd5ccb.4653e4"
            ],
            [
                "e627b086.f7099"
            ]
        ]
    },
    {
        "id": "5ffd5ccb.4653e4",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"bathroom window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3630,
        "wires": [
            []
        ]
    },
    {
        "id": "4f2578a0.926bd8",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3675,
        "wires": [
            [
                "e627b086.f7099"
            ]
        ]
    },
    {
        "id": "cab92740.eb1798",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Find and Announce Problems",
        "info": "",
        "x": 705,
        "y": 2865,
        "wires": []
    },
    {
        "id": "4b1672e.f738b8c",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Check Doors/Windows/Alarms/Cameras/Temp Sensors",
        "info": "",
        "x": 215,
        "y": 2805,
        "wires": []
    },
    {
        "id": "9fd0814f.fec97",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarms",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.alarm_check",
        "x": 75,
        "y": 3360,
        "wires": [
            [
                "4efb4d21.41ac64"
            ]
        ]
    },
    {
        "id": "36458f39.f74db",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Alarm",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.alarm_check",
        "x": 620,
        "y": 3810,
        "wires": [
            [
                "5f7bb18e.7cdc4"
            ]
        ]
    },
    {
        "id": "5f7bb18e.7cdc4",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3855,
        "wires": [
            [
                "541062ca.8a4aec",
                "5830d8a9.f86ad8"
            ],
            [
                "df4ac9cb.420618"
            ]
        ]
    },
    {
        "id": "5830d8a9.f86ad8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"alarm offline\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3810,
        "wires": [
            []
        ]
    },
    {
        "id": "541062ca.8a4aec",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3855,
        "wires": [
            [
                "df4ac9cb.420618"
            ]
        ]
    },
    {
        "id": "df4ac9cb.420618",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Cameras",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.camera_check",
        "x": 615,
        "y": 3900,
        "wires": [
            [
                "1dab8b64.38c655"
            ]
        ]
    },
    {
        "id": "1dab8b64.38c655",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3945,
        "wires": [
            [
                "317885f.24e467a",
                "cea66f22.9d9cb"
            ],
            [
                "5c0687c9.e98478"
            ]
        ]
    },
    {
        "id": "cea66f22.9d9cb",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"camera offline\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3900,
        "wires": [
            []
        ]
    },
    {
        "id": "317885f.24e467a",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3945,
        "wires": [
            [
                "5c0687c9.e98478"
            ]
        ]
    },
    {
        "id": "221d382d.195d68",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Cameras",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.camera_check",
        "x": 75,
        "y": 3405,
        "wires": [
            [
                "8b5817e9.1d68c8"
            ]
        ]
    },
    {
        "id": "75b72b5c.14dd04",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2910,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "6b1ab32f.9eb1fc"
            ]
        ]
    },
    {
        "id": "ebb99b44.9e4ba8",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 2955,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "2bfcaeaf.100c92"
            ]
        ]
    },
    {
        "id": "d58556bc.38cbf8",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3000,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "5091f7a2.cbd0b8"
            ]
        ]
    },
    {
        "id": "f014ee02.b7096",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 3045,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "e194be81.a0d77"
            ]
        ]
    },
    {
        "id": "db062283.398b",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3090,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "8366b09.c29005"
            ]
        ]
    },
    {
        "id": "a8690881.5bfe68",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3135,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "90eccf0f.676e9"
            ]
        ]
    },
    {
        "id": "57cd0d0d.808fd4",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3180,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "e0ed898d.ad2678"
            ]
        ]
    },
    {
        "id": "346f5d15.0a4fd2",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 245,
        "y": 3225,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "5009d3fc.e298ec"
            ]
        ]
    },
    {
        "id": "f1b51431.72cb08",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3270,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "3dc1c57c.8094da"
            ]
        ]
    },
    {
        "id": "4efb4d21.41ac64",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 215,
        "y": 3360,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "221d382d.195d68"
            ]
        ]
    },
    {
        "id": "8b5817e9.1d68c8",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 215,
        "y": 3405,
        "wires": [
            [
                "38b8eae6.3a3f86",
                "eeefa8ed.2fb3e8"
            ],
            [
                "56d30bbf.3f0a14"
            ]
        ]
    },
    {
        "id": "eeefa8ed.2fb3e8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"there seems to be an issue\"}",
        "mergecontext": "",
        "x": 405,
        "y": 3360,
        "wires": [
            []
        ]
    },
    {
        "id": "361dc1a3.033d9e",
        "type": "comment",
        "z": "39f55c1d.7f1a64",
        "name": "Problem",
        "info": "",
        "x": 405,
        "y": 3315,
        "wires": []
    },
    {
        "id": "38b8eae6.3a3f86",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 435,
        "y": 2910,
        "wires": [
            [
                "3072452a.42895a"
            ]
        ]
    },
    {
        "id": "3dc1c57c.8094da",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 85,
        "y": 3315,
        "wires": [
            [
                "4a0ace6a.73404"
            ]
        ]
    },
    {
        "id": "4a0ace6a.73404",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 230,
        "y": 3315,
        "wires": [
            [
                "eeefa8ed.2fb3e8"
            ],
            [
                "9fd0814f.fec97"
            ]
        ]
    },
    {
        "id": "e627b086.f7099",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Living Win",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "binary_sensor.living_windows",
        "x": 595,
        "y": 3720,
        "wires": [
            [
                "940a120.23783f"
            ]
        ]
    },
    {
        "id": "940a120.23783f",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 3765,
        "wires": [
            [
                "380ac76.75b7738",
                "c92da6d0.4d0818"
            ],
            [
                "36458f39.f74db"
            ]
        ]
    },
    {
        "id": "c92da6d0.4d0818",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"living window open\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3720,
        "wires": [
            []
        ]
    },
    {
        "id": "380ac76.75b7738",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 3765,
        "wires": [
            [
                "36458f39.f74db"
            ]
        ]
    },
    {
        "id": "56d30bbf.3f0a14",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Temps",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.tempsensor_check",
        "x": 65,
        "y": 3450,
        "wires": [
            [
                "8e836a37.071a28"
            ]
        ]
    },
    {
        "id": "8e836a37.071a28",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 215,
        "y": 3450,
        "wires": [
            [
                "eeefa8ed.2fb3e8",
                "38b8eae6.3a3f86"
            ],
            [
                "78510cb9.53a5c4"
            ]
        ]
    },
    {
        "id": "5c0687c9.e98478",
        "type": "api-current-state",
        "z": "39f55c1d.7f1a64",
        "name": "Temps",
        "server": "43c6abca.ce6fb4",
        "halt_if": "",
        "override_topic": true,
        "override_payload": true,
        "entity_id": "input_boolean.tempsensor_check",
        "x": 605,
        "y": 3990,
        "wires": [
            [
                "83197770.692848"
            ]
        ]
    },
    {
        "id": "83197770.692848",
        "type": "switch",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "on",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "off",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 620,
        "y": 4035,
        "wires": [
            [
                "73b1712b.8907",
                "78cee75a.938da8"
            ],
            [
                "dab51ca.6c343e"
            ]
        ]
    },
    {
        "id": "78cee75a.938da8",
        "type": "api-call-service",
        "z": "39f55c1d.7f1a64",
        "name": "Kitchen",
        "server": "43c6abca.ce6fb4",
        "service_domain": "media_player",
        "service": "alexa_tts",
        "data": "{\"entity_id\": \"media_player.kitchen_echo\", \"message\": \"temp sensor offline\"}",
        "mergecontext": "",
        "x": 810,
        "y": 3990,
        "wires": [
            []
        ]
    },
    {
        "id": "73b1712b.8907",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "3",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 810,
        "y": 4035,
        "wires": [
            [
                "dab51ca.6c343e"
            ]
        ]
    },
    {
        "id": "20efd067.67598",
        "type": "delay",
        "z": "39f55c1d.7f1a64",
        "name": "",
        "pauseType": "delay",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 285,
        "y": 2850,
        "wires": [
            [
                "5537c135.7569f"
            ]
        ]
    },
    {
        "id": "43c6abca.ce6fb4",
        "type": "server",
        "z": "",
        "name": "Home Assistant",
        "legacy": false
    }
]
